*,
html {
    margin: 0;
    padding: 0;
}

 .container {}

.navbar-container {
    background-color: rgb(13, 252, 204);
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 12px;
    margin: 10px;
    color: rgb(16, 16, 28);
    font-size: 20px;
}

.li-navbar:hover {
    background-color: rgb(246, 92, 15);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    transition-delay: .1s;
}

.a-navbar {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.content-container {
    background-color: rgb(248, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: rgb(253, 252, 252);
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 40px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(19, 18, 18, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);  
}
.img-content {
    width: 50%;
    height: 50%;  
}

.footer-container {
    height: 10vh;
    background-color: rgb(53, 223, 158);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 35px;
    color: black;
}